<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes">

<listeners>
	<listener class-name="utilities.MyListener"></listener>
</listeners>

  <test thread-count="5" name="Test">
    <classes>
   <class name="testCases.CreateNewProject_SCN02"/>
      <class name="testCases.UpdateTaskContent_SCN04"/>
      <class name="testCases.CreateNewTask_SCN03"/>
      <class name="testCases.GetProjects_SCN01"/>
      
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
